
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href= " {{ asset('bootstrap/dist/css/bootstrap.min.css') }} "/>
          <link rel="stylesheet" href= " {{ asset('bootstrap/dist/css/bootstrap-grid.min.css') }} "/>
          <link rel="stylesheet" href= " {{ asset('bootstrap/dist/css/bootstrap-reboot.min.css') }} "/>
        {% endblock %}
    </head>

      <div class="container" style="margin-top: 15px;">

          <a href=" {{ url("auction_index") }} "><button type="button" class="btn btn-primary">Aukcje</button></a>
          <a href=" {{ url("auction_add") }} "><button type="button" class="btn btn-primary">Dodaj aukcje</button></a>
      </div>
      <hr/>
      <div class="container">
        {% for message in app.flashes("success") %}
          <div class="alert alert-success" role="alert">{{message}}</div>
        {% endfor %}

        {% for message in app.flashes("error") %}
          <div class="alert alert-danger" role="alert">{{message}}</div>
        {% endfor %}
    </div>
        <div class="container">
          {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}

</html>
